body{
    background-color: black;
}
img{
    width: 600;
    height: 700;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.haha{
    font-size: large;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
ul{
    color: aliceblue;
}
a{
    color: aqua;
}
h3{
    color: wheat;
}
h4{
    color: wheat;
}
h1{
    color: whitesmoke;
}